<html xmlns:th="http://www.thymeleaf.org">
      <!--xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">-->
<head>
    <!--<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />-->
</head>

<div th:fragment="footer">
        <footer>
            <nav class="navbar navbar-inverse navbar-fixed-bottom page-footer">
                <div class="container-fluid">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="sokol-cr">
                            Sokol IT &copy; 2018
                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li><a href="#">about_us</a></li>
                        <li><a href="#">services</a></li>
                        <li><a href="#">contacts</a></li>
                    </ul>
                </div>
            </nav>
        </footer>
</div>
</html>