<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <!-- this is header-css -->
        <link rel="stylesheet" type="text/css"
              href="//css/bootstrap.min.css" />

        <link rel="stylesheet" th:href="@{/css/main.css}"
              href="../../css/main.css" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    </div>
</head>
<body>
<div th:fragment="header">
    <!-- this is header -->
    <nav class="navbar navbar-default navbar-static-top topnav header" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <!--<sec:authorize access="isAnonymous()">-->
                        <li>
                            <!--Регистрация-->
                            <a href="#">registration</a>
                        </li>
                        <li>
                            <!--Войти-->
                            <a href="#">enter</a>
                        </li>
                    <!--</sec:authorize>-->
<!--                    <sec:authorize access="isAuthenticated()">
                        <li class="profile-photo">
                            <img src="${root_url}img/nophoto.png"/>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">${user.getUsername()}
                                <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <%&#45;&#45;Мой профиль&#45;&#45;%>
                                <li><a href="/myprofile"><s:message code="my_profile"/></a></li>
                                <%&#45;&#45;Справка&#45;&#45;%>
                                <li><a href="#"><s:message code="help"/></a></li>
                                <%&#45;&#45;Выход&#45;&#45;%>
                                <li><a href="/static/j_spring_security_logout"><s:message code="exit"/></a></li>
                            </ul>
                        </li>
                    </sec:authorize>-->
                </ul>
                <a class="navbar-brand" href="#"><img th:src="@{/img/Logo1.png}"/></a>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <!--Главная-->
                        <li><a href="/">main</a></li>
<!--                        <sec:authorize access="hasAnyRole('ROLE_USER','ROLE_ADMIN')">
                            <%&#45;&#45;Запросы&#45;&#45;%>
                            <li><a href="/requestList/list?pageNumber=1&sortBy=id&sortOrder=ASC"><s:message code="requests"/></a></li>
                        </sec:authorize>-->
<!--                        <sec:authorize access="hasAnyRole('ROLE_ADMIN')">
                            <li class="dropdown">
                                <%&#45;&#45;Настройки&#45;&#45;%>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><s:message code="settings"/><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <%&#45;&#45;Департаменты&#45;&#45;%>
                                    <li><a href="/department/list"><s:message code="departments"/></a></li>
                                    <%&#45;&#45;Пользователи&#45;&#45;%>
                                    <li><a href="/users/list"><s:message code="users"/></a></li>
                                    <%&#45;&#45;Типы запросов&#45;&#45;%>
                                    <li><a href="/requestType/list"><s:message code="request_types"/></a></li>
                                </ul>
                            </li>
                        </sec:authorize>-->
<!--                        <%
                        String str_ru=request.getContextPath()+"?mylocale=ru";
                        String str_en=request.getContextPath()+"?mylocale=en";
                        %>
                        <li><a href="<%=str_en %>">EN</a></li>
                        <li><a href="<%=str_ru %>">RU</a></li>-->
                    </ul>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="info-line">
        <ul class="nav navbar-nav navbar-right">
            <li class="wing">
                <img th:src="@{/img/wing.png}" />

            </li>
        </ul>
        <div class="container topnav caption">
<!--            <ul class="nav navbar-nav">
                <li><s:message code="${headerTitle}"/></li>
            </ul>-->
        </div>
    </div>
</div>

</body>
</html>

<!--
<nav class="navbar navbar-default navbar-static-top topnav header" role="navigation">
    <div class="container topnav">
        &lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;
        &lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <sec:authorize access="isAnonymous()">
                    <li>
                        <%&#45;&#45;Регистрация&#45;&#45;%>
                        <a href="${root_url}register"><s:message code="registration"/></a>
                    </li>
                    <li>
                        <%&#45;&#45;Войти&#45;&#45;%>
                        <a href="${root_url}login"><s:message code="enter"/></a>
                    </li>
                </sec:authorize>
                <sec:authorize access="isAuthenticated()">
                    <li class="profile-photo">
                        <img src="${root_url}img/nophoto.png"/>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">${user.getUsername()}
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <%&#45;&#45;Мой профиль&#45;&#45;%>
                            <li><a href="/myprofile"><s:message code="my_profile"/></a></li>
                            <%&#45;&#45;Справка&#45;&#45;%>
                            <li><a href="#"><s:message code="help"/></a></li>
                            <%&#45;&#45;Выход&#45;&#45;%>
                            <li><a href="/static/j_spring_security_logout"><s:message code="exit"/></a></li>
                        </ul>
                    </li>
                </sec:authorize>
            </ul>
            <a class="navbar-brand" href="#"><img src="${root_url}img/Logo1.png"/></a>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <%&#45;&#45;Главная&#45;&#45;%>
                    <li><a href="/"><s:message code="main"/></a></li>
                    <sec:authorize access="hasAnyRole('ROLE_USER','ROLE_ADMIN')">
                        <%&#45;&#45;Запросы&#45;&#45;%>
                        <li><a href="/requestList/list?pageNumber=1&sortBy=id&sortOrder=ASC"><s:message code="requests"/></a></li>
                    </sec:authorize>
                    <sec:authorize access="hasAnyRole('ROLE_ADMIN')">
                        <li class="dropdown">
                            <%&#45;&#45;Настройки&#45;&#45;%>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><s:message code="settings"/><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <%&#45;&#45;Департаменты&#45;&#45;%>
                                <li><a href="/department/list"><s:message code="departments"/></a></li>
                                <%&#45;&#45;Пользователи&#45;&#45;%>
                                <li><a href="/users/list"><s:message code="users"/></a></li>
                                <%&#45;&#45;Типы запросов&#45;&#45;%>
                                <li><a href="/requestType/list"><s:message code="request_types"/></a></li>
                            </ul>
                        </li>
                    </sec:authorize>
                    <%
                    String str_ru=request.getContextPath()+"?mylocale=ru";
                    String str_en=request.getContextPath()+"?mylocale=en";
                    %>
                    <li><a href="<%=str_en %>">EN</a></li>
                    <li><a href="<%=str_ru %>">RU</a></li>
                </ul>
            </div>
        </div>
        &lt;!&ndash; /.navbar-collapse &ndash;&gt;
    </div>
    &lt;!&ndash; /.container &ndash;&gt;
</nav>

<div class="info-line">
    <ul class="nav navbar-nav navbar-right">
        <li class="wing">
            <img src="${root_url}img/wing.png"/>
        </li>
    </ul>
    <div class="container topnav caption">
        <ul class="nav navbar-nav">
            <li><s:message code="${headerTitle}"/></li>
        </ul>
    </div>
</div>-->
