<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Depatrment List</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body class="sokol-list-view">

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div class="table-header">
        <!--НОВЫЙ-->
        <a th:href="@{/sokol/department/add}" class="create-btn btn-danger">НОВЫЙ </a>
    </div>
    <div class="table table-wrapper">
        <table class="list-table">
           <thead>
             <tr>
             <th>#</th>
             <th>Название</th><!--НАЗВАНИЕ-->
             <th>Создано</th>   <!--СОЗДАНО-->
             <th>Удалить</th><!--УДАЛИТЬ-->
             </tr>
           </thead>
           <tbody>
                <tr th:each="department : ${departmentList}">
                    <td th:text="${department.id}" th:name="id"></td>
                    <td>
                        <a th:title="Редактирование"
                           th:href="@{/sokol/department/edit/{id}(id=${department.id})}"
                           th:text="${department.title}">
                        </a>
                    </td>

                    <td th:text="${department.createdDate}">
                    </td>

                    <td class="del-cell">
                        <a class="del-btn" th:href="@{/sokol/department/delete/{id}(id=${department.id})}"></a>
                    </td>
                </tr>
           </tbody>
        </table>
    </div>
</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>

</body>
</html>


<!--The time is: <strong th:text="${#dates.format(now, 'dd/MMM/yyyy HH:mm')}">31/12/2015 15:00</strong>-->
<!--<td th:text="${#dates.format(department.createdDate, 'dd/MM/yyyy HH:mm')}"></td>-->
<!--<td th:text="${#dates.format(department.createdDate, 'dd-MM-yyyy HH:mm')}">-->
<!--<td th:text="${#dates.format(department.createdDate, 'dd/MM/yyyy HH:mm')}"></td>-->