<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div class="table-header">
        <!--НОВЫЙ-->
        <a th:href="@{/department/add}" class="create-btn btn-danger">НОВЫЙ </a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
        <th>#</th>
        <!--НАЗВАНИЕ-->
        <th>Название</th>
        <!--СОЗДАНО-->
        <th>Создано</th>
        <!--УДАЛИТЬ-->
        <th>Удалить</th>
        </tr>
        </thead>
       <tbody>
       <!--The time is: <strong th:text="${#dates.format(now, 'dd/MMM/yyyy HH:mm')}">31/12/2015 15:00</strong>-->
            <tr th:each="department : ${departmentList}">
                <td th:text="${department.id}" th:name="id"></td>
                <td>
                    <a th:title="Редактирование"
                       th:href="@{/department/edit/{id}(id=${department.id})}"
                       th:text="${department.title}">
                    </a>
                </td>

                <td th:text="${department.createdDate}">
                </td>
                <!--<td th:text="${#dates.format(department.createdDate, 'dd/MM/yyyy HH:mm')}"></td>-->
                <!--<td th:text="${#dates.format(department.createdDate, 'dd-MM-yyyy HH:mm')}">-->
                <!--<td th:text="${#dates.format(department.createdDate, 'dd/MM/yyyy HH:mm')}"></td>-->



                <td>
                    <a th:href="@{/department/delete/{id}(id=${department.id})}">DELETE</a>
                </td>
            </tr>
        </tbody>
    </table>


</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>


