<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>

    <div th:replace="fragments/header :: header-css"/>
<!--    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.2/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/static/css/style.css" />-->

</head>
<!--<body class="sokol-list-view">-->
<body>
<div class="main" id="main-screen">
    <nav class="navbar navbar-default navbar-static-top topnav sokol" role="navigation">
        <div class="container topnav">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="enter">
                        <a th:href="@{/login}">ENTER</a>
                    </li>
                    <li>
                        <a th:href="@{/home}">REGISTER</a>
                    </li>

                    <!--                    <li>
                                            <select class="selectpicker lang rus" style="height: 30px" data-width="70px" onchange="document.location= '/?mylocale='+this.value">
                                                <option class="language-bar rus" onclick="alert('eng')" value="ru"></option>
                                                <option class="language-bar eng" selected="1" onclick="alert('eng')" value="en"></option>
                                            </select>
                                        </li>-->

                </ul>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#main-screen">MAIN</a>
                        </li>
                        <li><a href="#our-services">ABOUT</a></li>
                        <li><a href="#our-services">SERVICES</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</div>
<div class="services">
    <div class="row yellow-line text-center ">
        <div class="col-centered text">SERVICES</div>
    </div>

    <div class="our-services" id="our-services" style="min-width: 1200px;">
        <div class="header row text-center">
            <span >МЫ ПРЕДЛАГАЕМ</span>
        </div>
        <div class="row-fluid text-center" style="min-width: 1000px;">
            <div style="display:inline-block; width:1000px;min-width:1000px;">
                <div class="col-md-4 col1">
                    <p>demo_text</p>
                </div>
                <div class="col-md-4 col2">
                    <p>demo_text</p>
                </div>
                <div class="col-md-4 col3">
                    <p>demo_text</p>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="try-it">
    <div class="row text-center try-it-now">
        LETS_TRY
    </div>

    <div class="row text-center">
        <a th:href="@{/register}" class="enter">
            <span>IN_DEMO_MODE</span>
        </a>
    </div>
</div>

<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>
</body>
</html>