<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>

    <!--<div th:replace="fragments/header :: header-css"/>-->
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.2/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/style.css" />

</head>
<!--<body class="sokol-list-view">-->
<body>
    <div class="container">
        <div class="main">
             4566
        </div>
    </div>
</body>
</html>