<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Request List</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body class="sokol-list-view">

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div class="table-header">
        <!--НОВЫЙ-->
        <a th:href="@{/admin/request/add}" class="create-btn btn-danger">НОВЫЙ</a>
    </div>
    <div class="table table-wrapper">
        <table class="list-table">
            <thead>
            <tr>
                <th style="width: 3%">
                    <a th:href="@{'/admin/request/listSort'(imgBy=${imgBy},sortBy='id')}"
                       th:class="${sortBy.equals('id')? imgBy : ''}">#
                    </a>
                </th>
                <th style="width: 8%">Статус</th>
                <th style="width: 14%">
                    <a th:href="@{'/admin/request/listSort'(imgBy=${imgBy},sortBy='title')}"
                       th:class="${sortBy.equals('title')? imgBy : ''}">НАЗВАНИЕ
                    </a>
                </th>
                <th style="width: 14%">
                    <!--<a th:href="@{'/admin/request/listSort'(imgBy=${imgBy},sortBy=${sortBy})}"-->
                    <a th:href="@{'/admin/request/listSort'(imgBy=${imgBy},sortBy='description')}"
                       th:class="${sortBy.equals('description')? imgBy : ''}">ОПИСАНИЕ
                    </a>
                </th>
                <th style="width: 8%">
                    <a th:href="@{'/admin/request/listSort'(imgBy=${imgBy},sortBy='createdBy')}"
                       th:class="${sortBy.equals('createdBy')? imgBy : ''}">СОЗДАТЕЛЬ
                    </a>
                </th>
                <th style="width: 10%">
                    <a th:href="@{'/admin/request/listSort'(imgBy=${imgBy},sortBy='assignedTo')}"
                       th:class="${sortBy.equals('assignedTo')? imgBy : ''}">ИСПОЛНИТЕЛЬ
                    </a>
                </th>
                <th style="width: 8%">
                    <a th:href="@{'/admin/request/listSort'(imgBy=${imgBy},sortBy='requestType')}"
                       th:class="${sortBy.equals('requestType')? imgBy : ''}">ТИП
                    </a>
                </th>
                <th style="width: 5%">Удалить</th><!--УДАЛИТЬ-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="request : ${requestList.content}">
                <td th:text="${request.id}" th:name="id"></td>
                <td th:text="${request.status.name}"></td>
                <td>
                    <a th:title="Редактирование"
                       th:href="@{/admin/request/edit/{id}(id=${request.id})}"
                       th:text="${request.title}">
                    </a>
                </td>
                <td th:text="${request.description}"></td>
                <td th:text="${request.createdBy}"></td>
                <td th:text="${request.assignedTo}"></td>
                <td th:text="${request.requestType.title}"></td>
                <!--<td th:text="${request.createdDate}"></td>-->

                <td class="del-cell">
                    <a class="del-btn" th:href="@{/admin/request/delete/{id}(id=${request.id})}"></a>
                </td>
            </tr>

            </tbody>
        </table>

        <!--//pagination-->
        <table>
            <tr>
                <td>Страницы:</td>
                <td>
                    <ul class="pagination">
                        <li>
                            <a th:if="${requestList.hasPrevious()}"
                               th:href="@{'/admin/request/list'(pageNumber=${requestList.number-1})}">&laquo;</a>
                        </li>

                        <li th:each="pageNumber : ${pageNumbers}">
                            <a th:href="@{'/admin/request/list'(pageNumber=${pageNumber-1})}"
                               th:text="${pageNumber}">
                            </a>
                        </li>

                        <li>
                            <a th:if="${requestList.hasNext()}"
                               th:href="@{'/admin/request/list'(pageNumber=${requestList.number+1})}">&raquo;</a>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>